<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="presets">
      <h2 data-cy="presetsDetailsHeading"><span jhiTranslate="harmonicelloApp.presets.detail.title">Presets</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ presets.id }}</span>
        </dd>
        <dt><span jhiTranslate="harmonicelloApp.presets.presetTitle">Preset Title</span></dt>
        <dd>
          <span>{{ presets.presetTitle }}</span>
        </dd>
        <dt><span jhiTranslate="harmonicelloApp.presets.hertz">Hertz</span></dt>
        <dd>
          <span>{{ presets.hertz }}</span>
        </dd>
        <dt><span jhiTranslate="harmonicelloApp.presets.sustain">Sustain</span></dt>
        <dd>
          <span>{{ presets.sustain }}</span>
        </dd>
        <dt><span jhiTranslate="harmonicelloApp.presets.waveform">Waveform</span></dt>
        <dd>
          <span jhiTranslate="{{ 'harmonicelloApp.Waveform.' + presets.waveform }}">{{ presets.waveform }}</span>
        </dd>
        <dt><span jhiTranslate="harmonicelloApp.presets.instrument">Instrument</span></dt>
        <dd>
          <span jhiTranslate="{{ 'harmonicelloApp.Instrument.' + presets.instrument }}">{{ presets.instrument }}</span>
        </dd>
        <dt><span jhiTranslate="harmonicelloApp.presets.user">User</span></dt>
        <dd>
          <span>{{ presets.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/presets', presets.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
